.email {
    display: flex;
    align-items: center;
    gap: 17px;
}

.email svg {
    flex-shrink: 0;
}

.email a {
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
}

@media (min-width: 1025px) {
    .email a {
        font-size: 20px;
        word-wrap: break-word;
    }
}