.headContainer {
    width: 100%;
    padding: 43px 0 31px 0;

    position: relative;
}

.headLine {
    width: calc(100% - 363px);
    height: 18.5px;
    border-bottom: 6px solid #A1A6B0;
    border-left: 6px solid #A1A6B0;

    position: absolute;
    top: 60px;
    right: 0;
}



.contactsContainer {
    width: 100%;
    background: #A1A6B0;
    padding: 43px 80px 50px 80px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.addressAndRec {
    width: 377px;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.contacts {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.contactsHeaders {
    margin-bottom: 26px;

    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}

.contactsTexts {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
}

.contactsLink {
    color: #000;
}

.decor {
    width: 53px;
    height: 17px;
    background: #FFF;

    position: absolute;
    top: 15px;
    left: -25px;
    z-index: -1;
}



.cooperation {
    width: 100%;
    padding: 70px 0 91px 0;

    position: relative;
}

.cooperationHead {
    white-space: pre-wrap;
}

.cooperationBlock {
    margin-top: 43px;
    padding: 0 80px;
    position: relative;
}

.cooperationBlock div {
    width: 453px;
    border-bottom: 2px solid #000000;
    position: absolute;
    top: 30px;
    left: 80px;
}

.coopBlockHead {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.coopBlockText {
    margin-top: 40px;

    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    white-space: pre-wrap;
}

.cooperationDecor {
    position: absolute;
    top: 80px;
    right: 0px;

    width: 280px;
    height: 96px;
    background: #F0F0F0;
}



@media (max-width: 1024px) {

    .headContainer {
        padding: 36px 0 20px 0;
    }

    .headLine {
        width: calc(100% - 143px);
        height: 14px;
        border-bottom: 4px solid #A1A6B0;
        border-left: 4px solid #A1A6B0;

        top: 36px;
    }



    .contactsContainer {
        padding: 27px 44px 36px 44px;

        flex-direction: column;
        gap: 20px;
    }

    .addressAndRec {
        width: 100%;
    }

    .contactsHeaders {
        font-size: 14px;
        line-height: 124%;
    }

    .contactsTexts {
        font-size: 14px;
        line-height: 124%;
    }

    .decor {
        width: 48px;
        height: 12px;

        top: 8px;
        left: -11px;
    }



    .cooperation {
        padding: 36px 0;
    }
    
    .cooperationBlock {
        margin-top: 20px;
        padding: 0 15px;
    }
    
    .cooperationBlock div {
        width: 318px;
        top: 21px;
        left: 15px;
    }
    
    .coopBlockHead {
        font-size: 14px;
        line-height: normal;
    }
    
    .coopBlockText {
        margin-top: 37px;
    
        font-size: 14px;
        line-height: 124%;
    }
    
    .cooperationDecor {
        top: 36px;
    
        width: 93px;
        height: 40px;
    }

}



@media (max-width: 350px) {

    .cooperationBlock div {
        display: none;
    }
    
}