.container {
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    padding: 40px;
}

.wrapper {
    height: 100%;
    border-radius: 2px;
    border: 1px solid #000;
    background: #FFF;
    padding: 0 80px 80px 80px;

    display: flex;
    flex-direction: column;
}

.headContainer {
    width: 100%;
    height: 120px;
    background: #D9D9D9;
    margin-bottom: 40px;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headContainer h2 {
    margin: 0;
}

.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 40px;
}

.politic {
    color: #A1A6B0;
    font-size: 21px;
    line-height: normal;
}

.politic a {
    color: #A1A6B0;
    font-size: 21px;
    line-height: normal;
    text-decoration: underline #A1A6B0;
}

.errorText {
    margin: -10px 0;
    font-size: 22px;
    line-height: normal;
}

.submit {
    width: 180px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #000;
    background: transparent;

    font-size: 21px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.submit:hover {
    color: #FFF;
    background: #000;
}

@media (max-width: 1024px) {

    .container {
        padding: 20px 15px 36px 15px;
    }

    .wrapper {
        padding: 0 42px 36px 42px;
    }

    .headContainer {
        width: 204px;
        height: 36px;
        margin-bottom: 45px;
    }

    .form {
        align-items: center;
        gap: 33px;
    }

    .politic {
        font-size: 12px;
    }

    .politic a {
        font-size: 12px;
    }

    .errorText {
        font-size: 14px;
    }

    .submit {
        width: 162px;
        height: 36px;

        font-size: 14px;
    }

}