.footer {
    display: flex;
    flex-direction: column-reverse;

    position: relative;
    z-index: 1;
}

.footerLeft {
    height: 482px;
    background-color: black;

    padding: 20px 0 0 0;
}


.logoContainer {
    width: 219px;
    height: 80px;
    background-color: #fff;
    padding: 16px 95px 16px 15px;
}


.contacts {
    margin-top: 36px;
    padding-left: 15px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

h4 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}


.social {
    margin-top: 36px;
    padding-left: 15px;
}

.social div {
    display: flex;
    gap: 24px;
    margin-top: 20px;
}



@media (min-width: 1025px) {

    .footer {
        flex-direction: row;
    }

    .footerLeft {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 220px;

        flex-grow: 1;

        height: 440px;
        padding: 0 0 0 0;
    }

    h4 {
        font-size: 24px;
    }

    .logoContainer {
        grid-column: 1/2;
        grid-row: 1/2;

        width: 289px;
        height: 138px;
        margin-top: 62px;
        padding: 23px 60px 23px 20px;
    }

    .contacts {
        grid-column: 2/3;
        grid-row: 1/3;

        margin: 62px auto 0 0;
        padding-left: 10px;
        padding-right: 10px;

        gap: 24px;
    }

    .contacts h4 {
        margin-bottom: 16px;
    }


    .social {
        grid-column: 1/2;
        grid-row: 2/3;

        margin-top: 22px;
        padding-left: 20px;
    }

    .social div {
        gap: 21px;
        margin-top: 28px;
    }

}



@media (min-width: 1201px) {

    .logoContainer {
        width: 349px;
        padding: 23px 60px 23px 80px;
    }

    .contacts {
        grid-column: 2/3;
        grid-row: 1/3;

        margin: 62px auto 0 0;
        padding-left: 25px;
        padding-right: 25px;
    }

    .social {
        padding-left: 80px;
    }

}