.sliderContainer {
    width: 100%;
    margin: 0 auto;

    position: relative;
}

.sliderItem {
    height: 100vh;
    background-image: url(../media/images/MainSlider_Img.png);
    background-size: cover;
    background-position: bottom;
}

.sliderCaption {
    position: absolute;
    top: 48.7%;
    left: 6%;
}

.sliderCaption div {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.sliderCaption_1 {
    font-weight: 900;
    text-transform: uppercase;
}

.sliderCaption_2 {
    font-weight: 600;
}



@media (max-width: 1024px) {

    .sliderItem {
        height: 50vh;
        background-image: url(../media/images/mainSlider_imgMobile.png);
        background-size: cover;
        background-position: bottom;
    }

    .sliderCaption {
        position: absolute;
        top: 41.4%;
        left: 4.2%;
    }

    .sliderCaption div {
        font-size: 16px;
        line-height: 20px;
    }

}