.container {
    width: 100%;
    background: #F0F0F0;
    padding: 30px 0px 80px 0px;
    position: relative;
}


.lineLeft {
    width: 58.7vw;
    border-bottom: 6px solid #A1A6B0;
    position: absolute;
    top: 81px;
    left: 0;
}

.lineRight {
    width: 47vw;
    height: 18.5px;
    border-left: 6px solid #A1A6B0;
    border-bottom: 6px solid #A1A6B0;
    position: absolute;
    top: 40px;
    right: 0;
}


.wrapper {
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
}

.specHead {
    margin-left: 0;
    margin-bottom: 84px;
}


.sliderItem {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    border: 1px solid #000;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.itemImg {
    width: 100%;
    height: 240px;
}

.itemImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemInfo {
    width: 100%;
    border-top: 1px solid #000;
    padding: 24px 0 19px 21px;
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.itemInfoDecor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.itemInfoDecor p {
    margin-bottom: -5px;
    padding-right: 21px;
}

.itemInfoDecor1 {
    width: 64px;
    height: 11px;
    background: transparent;
    border-bottom: 2px solid #A1A6B0;
    border-left: 2px solid #A1A6B0;
}

.itemInfoDecor2 {
    margin-top: 4px;
    width: 40px;
    border-bottom: 2px solid #A1A6B0;
}

.nextArrow {
    display: block;
    position: absolute;
    top: 50%;
    right: -33px;

    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nextArrow svg path {
    stroke: rgba(161, 166, 176, 1);
}

.nextArrow:hover svg path {
    stroke: #000;
}

.nextArrow:active svg {
    transform: scale(0.8);
}

.prevArrow {
    display: block;
    position: absolute;
    top: 50%;
    left: -33px;

    width: 20px;
    height: 20px;
    cursor: pointer;
}

.prevArrow svg path {
    stroke: rgba(161, 166, 176, 1);
}

.prevArrow:hover svg path {
    stroke: #000;
}

.prevArrow:active svg {
    transform: scale(0.8);
}


@media (max-width: 1440px) {

    .lineLeft {
        width: 845px;
    }

    .lineRight {
        width: calc(100% - 766px);
    }

}


@media (max-width: 1024px) {

    .container {
        padding: 20px 0px 36px 0px;
    }


    .lineLeft {
        width: 100%;
        border-bottom: 4px solid #A1A6B0;
        top: 48px;
    }

    .lineRight {
        width: calc(100% - 319px);
        height: 14px;
        border-left: 4px solid #A1A6B0;
        border-bottom: 4px solid #A1A6B0;
        top: 20px;
    }


    .wrapper {
        padding: 0 15px;
        height: 100%;
    }

    .specHead {
        margin-bottom: 44px;
    }


    .sliderWrapper {
        max-width: 400px;
        padding: 0 25px 0 15px;
        margin: 0 auto;
    }

    .fewSlides {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .sliderItem {
        width: 100%;
    }

    .itemImg {
        max-height: 200px;
    }

    .itemInfo {
        padding: 6px 0 13px 6px;
        gap: 10px;

        font-size: 14px;
    }

    .nextArrow {
        top: 55%;
        right: -24px;
    }

    .prevArrow {
        top: 45%;
        left: calc(100% + 4px);
    }

}